In [213]:
#import libs 
import pandas as pd 
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time 
import threading as th

### Open chrome driver session

In [219]:
#chrome driver path 
ChromePath = '/home/roaa/chromedriver_linux64/chromedriver'
option = webdriver.ChromeOptions()
option.add_argument('-disk-cache-size=30000000000')
driver = webdriver.Chrome(executable_path = ChromePath)
#open Wuzzuf 
website =  "https://wuzzuf.net/jobs/egypt"
driver.get(website);

/tmp/ipykernel_3910/2319317835.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = ChromePath)

### Search by skill

In [220]:
#enter search skill 
SearchSkill = 'python'
SearchPlace = driver.find_element_by_css_selector("input[class = 'search-bar-input']")
SearchPlace.send_keys(SearchSkill)
#click to search button
Searchbtn = driver.find_element_by_css_selector("button[class = 'btn btn-primary search-btn']")
Searchbtn.click()

/tmp/ipykernel_3910/2434252280.py:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  SearchPlace = driver.find_element_by_css_selector("input[class = 'search-bar-input']")
/tmp/ipykernel_3910/2434252280.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Searchbtn = driver.find_element_by_css_selector("button[class = 'btn btn-primary search-btn']")

### Scraper

In [221]:
df = pd.DataFrame(columns=['Job title','Company','Location'])

In [222]:

for i in range(1,20):
    try:
        time.sleep(2)
        jobs= driver.find_elements_by_css_selector("div[class='css-1gatmva e1v1l3u10']")
        for job in jobs :
            Job_title = job.find_element_by_css_selector("h2[class='css-m604qf']").text
            Company = job.find_element_by_css_selector("a[class='css-17s97q8']").text
            Location = job.find_element_by_css_selector("span[class = 'css-5wys0k']").text
            df = df.append({'Job title': Job_title,'Company':Company,'Location':Location}, ignore_index=True)
        #driver.find_element_by_css_selector("button[class='css-zye1os ezfki8j0']").click()
        driver.get("https://wuzzuf.net/search/jobs/?a=hpb&q=python&start="+str(i));
    except : # the element wasn't found
        break # exit from the loop

/tmp/ipykernel_3910/4010342478.py:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jobs= driver.find_elements_by_css_selector("div[class='css-1gatmva e1v1l3u10']")

In [223]:
df

,Job title,Company,Location
0,Python Developer,Shebak -,"Smart Village, Giza, Egypt"
1,Python Programmer,Right IT Group -,"Yanbu, Saudi Arabia"
2,Senior Python Developer - Remote,"Nile Bits, LLC -","6th of October, Giza, Egypt"
3,Python Developer,RUUF -,"Heliopolis, Cairo, Egypt"
4,Python Developer (Odoo),ZAD Solutions -,"Mohandessin, Giza, Egypt"
...,...,...,...
203,Automation Test Engineer,Confidential -,"Cairo, Egypt"
204,Senior Cloud Solution Architect,Edrak United -,"Cairo, Egypt"
205,Full Stack Developer,TTC Technologies -,"Heliopolis, Cairo, Egypt"
206,Oracle APEX Developer,Edrak United -,"Cairo, Egypt"
207,Senior Automation Test Engineer,Kaizen Firm -,"Cairo, Egypt"